* {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #0a192f;
}

.arrowHead {
  border: 5px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #64ffda;
  display: block;
  width: 0px;
  height: 0px;
}

header {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
header .container {
  width: 90%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .logo img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: logoAnim 0.8s ease-out forwards;
          animation: logoAnim 0.8s ease-out forwards;
  width: 50px;
}
header .container ul {
  -webkit-animation: landingAnim 0.7s ease-out forwards;
          animation: landingAnim 0.7s ease-out forwards;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container ul li a {
  text-decoration: none;
  color: #8892b0;
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "M PLUS Code Latin", sans-serif;
}
header .container ul li a span {
  color: #64ffda;
  font-family: "M PLUS Code Latin", sans-serif;
}
header .container ul li button {
  border: none;
  background-color: transparent;
  border: 1px solid #64ffda;
  border-radius: 5px;
  padding: 10px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .container ul li button a {
  text-decoration: none;
  color: #64ffda;
}
header .container ul li a:hover {
  color: #64ffda;
}
header .container ul button:hover {
  background-color: rgba(100, 255, 218, 0.2117647059);
}

.landing {
  width: 80%;
  margin: 50px auto;
}
.landing .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0px;
}
.landing .container .l1 {
  font-family: "M PLUS Code Latin", sans-serif;
  color: #64ffda;
}
.landing .container .l2 {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: landingAnim 1s ease-out forwards;
          animation: landingAnim 1s ease-out forwards;
  font-size: 50px;
  width: 550px;
  color: #ccd6f6;
}
.landing .container .l3 {
  font-size: 50px;
  width: 550px;
  color: #8892b0;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: landingAnim 2s ease-out forwards;
          animation: landingAnim 2s ease-out forwards;
  color: #8892b0;
}
.landing .container .l4 {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: landingAnim 2s ease-out forwards;
          animation: landingAnim 2s ease-out forwards;
  color: #65708c;
  width: 500px;
  line-height: 20px;
}
.landing .container button {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation: landingAnim 2s ease-out forwards;
          animation: landingAnim 2s ease-out forwards;
  width: 250px;
  border: none;
  border: 1px solid #64ffda;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.landing .container button a {
  text-decoration: none;
  color: #64ffda;
}
.landing .container button:hover {
  background-color: rgba(100, 255, 218, 0.2117647059);
}

.aboutMe {
  margin: 250px auto;
  width: 80%;
}
.aboutMe .main-title {
  position: relative;
  color: #ccd6f6;
  font-family: "M PLUS Code Latin", sans-serif;
  font-size: 28px;
}
.aboutMe .main-title span {
  font-size: 22px;
  color: #64ffda;
  font-family: "M PLUS Code Latin", sans-serif;
}
.aboutMe .main-title div::after {
  content: "";
  position: absolute;
  right: 55%;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 300px;
  height: 0.1px;
  opacity: 0.5;
  border-radius: 50px;
  background-color: #ccd6f6;
}
.aboutMe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 50px;
}
.aboutMe .container .boxOne .p1 {
  color: #65708c;
  font-size: 17px;
  line-height: 30px;
}
.aboutMe .container .boxOne .p2 {
  color: #65708c;
  font-size: 17px;
  line-height: 30px;
}
.aboutMe .container .boxOne .p2 a {
  color: #64ffda;
  text-decoration: none;
}
.aboutMe .container .boxOne .p3 {
  color: #65708c;
  font-size: 17px;
  line-height: 30px;
}
.aboutMe .container .boxOne .tech .parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 0px 1fr 0px 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}
.aboutMe .container .boxOne .tech .parent > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.aboutMe .container .boxOne .tech .parent > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.aboutMe .container .boxOne .tech .parent > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.aboutMe .container .boxOne .tech .parent > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.aboutMe .container .boxOne .tech .parent > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.aboutMe .container .boxOne .tech .parent > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.aboutMe .container .boxOne .tech .div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}
.aboutMe .container .boxOne .tech .div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}
.aboutMe .container .boxOne .tech .div3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
}
.aboutMe .container .boxOne .tech .div4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
}
.aboutMe .container .boxOne .tech .div5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
}
.aboutMe .container .boxOne .tech .div6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
}
.aboutMe .container .boxOne .tech .item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #65708c;
}
.aboutMe .container .boxTwo .border {
  width: 400px;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  height: 300px;
  background-color: transparent;
  border: 4px solid #64ffda;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
}
.aboutMe .container .boxTwo .container:hover .border {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.aboutMe .container .boxTwo .container .image {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutMe .container .boxTwo .container .image div {
  width: 400px;
  height: 300px;
  opacity: 0.6;
  margin-right: -400px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  z-index: 1;
  background-color: #64ffda;
}
.aboutMe .container .boxTwo .container .image img {
  border-radius: 5px;
  width: 400px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.aboutMe .container .boxTwo .container .image:hover div {
  opacity: 0;
}
.aboutMe .container .boxTwo .container .image:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.whereIvework {
  width: 80%;
  margin: 50px auto;
}
.whereIvework .main-title {
  position: relative;
  color: #ccd6f6;
  font-family: "M PLUS Code Latin", sans-serif;
  font-size: 28px;
}
.whereIvework .main-title span {
  font-size: 22px;
  color: #64ffda;
  font-family: "M PLUS Code Latin", sans-serif;
}
.whereIvework .main-title div::after {
  content: "";
  position: absolute;
  right: 43%;
  top: 47%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 300px;
  height: 0.1px;
  opacity: 0.5;
  border-radius: 50px;
  background-color: #ccd6f6;
}
.whereIvework .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
  margin: 40px 40px;
}
.whereIvework .container .work {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 14px;
  color: #65708c;
  transition: 0.3s;
  padding: 20px 20px;
}
.whereIvework .container .content .title a {
  text-decoration: none;
  color: #64ffda;
}
.whereIvework .container .content .title span {
  color: #ccd6f6;
}
.whereIvework .container .content .time {
  font-size: 14px;
  color: #8892b0;
}
.whereIvework .container .content .moreInfo ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.whereIvework .container .content .moreInfo ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #65708c;
  width: 400px;
  line-height: 18px;
}
.whereIvework .container::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 300px;
  background-color: #65708c;
  left: -15px;
  top: 0;
}
.whereIvework .container::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 55px;
  background-color: #64ffda;
  left: -15px;
  top: 16px;
}

.someThings {
  margin: 250px auto;
  width: 80%;
}
.someThings .main-title {
  position: relative;
  color: #ccd6f6;
  font-family: "M PLUS Code Latin", sans-serif;
  font-size: 28px;
}
.someThings .main-title span {
  font-size: 22px;
  color: #64ffda;
  font-family: "M PLUS Code Latin", sans-serif;
}
.someThings .main-title div::after {
  content: "";
  position: absolute;
  right: 40%;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 300px;
  height: 0.1px;
  opacity: 0.5;
  border-radius: 50px;
  background-color: #ccd6f6;
}

.someThings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.someThings .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.someThings .container .leftBox {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.someThings .container .leftBox .image {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.someThings .container .leftBox .image div {
  width: 600px;
  height: 290px;
  opacity: 0.4;
  margin-right: -400px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  border-radius: 10px;
  z-index: 2;
  background-color: #64ffda;
}
.someThings .container .leftBox .image img {
  -webkit-filter: grayscale(0.8);
          filter: grayscale(0.8);
  width: 600px;
  z-index: 1;
  border-radius: 10px;
}
.someThings .container .leftBox .image:hover div {
  opacity: 0;
}
.someThings .container .leftBox .image:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.someThings .container .leftBox img {
  position: relative;
}
.someThings .container .leftBox .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 15px;
}
.someThings .container .leftBox .info .type {
  color: #64ffda;
  font-size: 13px;
  font-stretch: expanded;
}
.someThings .container .leftBox .info h2 {
  color: #ccd6f6;
}
.someThings .container .leftBox .info p {
  z-index: 2;
  margin-left: -100px;
  background-color: #112240;
  padding: 40px 40px;
  text-align: start;
  color: #65708c;
}
.someThings .container .leftBox .info .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #65708c;
  gap: 20px;
  margin: 0px 50px;
}
.someThings .container .leftBox .info .sites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 40px;
}
.someThings .container .leftBox .info .sites i {
  width: 100px;
}
.someThings .container .leftBox .info .sites a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #65708c;
}
.someThings .container .leftBox .info .sites a:hover {
  color: #64ffda;
}
.someThings .container .rightBox {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.someThings .container .rightBox .image {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.someThings .container .rightBox .image div {
  width: 600px;
  height: 300px;
  opacity: 0.4;
  margin-right: -400px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  border-radius: 10px;
  z-index: 2;
  background-color: #64ffda;
}
.someThings .container .rightBox .image img {
  -webkit-filter: grayscale(0.8);
          filter: grayscale(0.8);
  width: 600px;
  z-index: 1;
  border-radius: 10px;
}
.someThings .container .rightBox .image:hover div {
  opacity: 0;
}
.someThings .container .rightBox .image:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.someThings .container .rightBox img {
  position: relative;
}
.someThings .container .rightBox .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
}
.someThings .container .rightBox .info .type {
  color: #64ffda;
  font-size: 13px;
  font-stretch: expanded;
}
.someThings .container .rightBox .info h2 {
  color: #ccd6f6;
}
.someThings .container .rightBox .info p {
  z-index: 8;
  margin-right: -100px;
  background-color: #112240;
  padding: 40px 40px;
  text-align: start;
  color: #65708c;
}
.someThings .container .rightBox .info .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #65708c;
  gap: 20px;
  margin: 0px 50px;
}
.someThings .container .rightBox .info .sites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 40px;
}
.someThings .container .rightBox .info .sites i {
  width: 100px;
}
.someThings .container .rightBox .info .sites a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #65708c;
}
.someThings .container .rightBox .info .sites a:hover {
  color: #64ffda;
}

.getInTouch {
  width: 40%;
  margin: 150px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.getInTouch .title {
  color: #64ffda;
  font-size: 15px;
}
.getInTouch h1 {
  color: #ccd6f6;
}
.getInTouch p {
  line-height: 25px;
  margin: auto;
  font-weight: bold;
  text-align: center;
  color: #65708c;
}
.getInTouch button {
  background-color: transparent;
  margin-top: 20px;
  border: none;
  border: 1px solid #64ffda;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 20px 40px;
}
.getInTouch button a {
  text-decoration: none;
  color: #64ffda;
}
.getInTouch button:hover {
  background-color: rgba(100, 255, 218, 0.2117647059);
}

.foot {
  margin: 50px auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8892b0;
  font-size: 15px;
}

section {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 100px 30px;
  position: fixed;
}
section a {
  color: white;
}
section i {
  width: 200px;
}

section::after {
  content: "";
  position: absolute;
  right: 96%;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 0.1px;
  height: 300px;
  opacity: 0.5;
  border-radius: 50px;
  background-color: #ccd6f6;
}

.email {
  position: fixed;
  margin: 100px 30px;
  right: -100px;
  top: 30%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.email a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.email::after {
  content: "";
  position: absolute;
  right: -110%;
  top: -800%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 0.1px;
  height: 300px;
  opacity: 0.5;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border-radius: 50px;
  background-color: #ccd6f6;
}

.otherProjects {
  width: 80%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.otherProjects h2 {
  font-size: 30px;
  color: #ccd6f6;
}
.otherProjects .under-t {
  color: #64ffda;
  font-family: "M PLUS Code Latin", sans-serif;
}
.otherProjects .parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 20px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.otherProjects .parent > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.otherProjects .parent > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.otherProjects .parent > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.otherProjects .parent > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.otherProjects .parent div:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}
.otherProjects .parent div:hover h3 {
  color: #64ffda;
}
.otherProjects .parent div {
  padding: 20px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #112240;
  border-radius: 2px;
}
.otherProjects .parent div .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}
.otherProjects .parent div .top i {
  margin-left: 30px;
  color: #64ffda;
}
.otherProjects .parent div .top span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.otherProjects .parent div .top span i {
  color: #65708c;
}
.otherProjects .parent div h3 {
  margin-left: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ccd6f6;
  font-size: 18px;
}
.otherProjects .parent div p {
  margin-left: 30px;
  color: #8892b0;
  font-size: 15px;
  width: 300px;
}
.otherProjects .parent div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 20px;
}
.otherProjects .parent div span span {
  color: #65708c;
}
.otherProjects .div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}
.otherProjects .div2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}
.otherProjects .div3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
}
.otherProjects .div4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
}

@-webkit-keyframes navAnim {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes navAnim {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes logoAnim {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes logoAnim {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes landingAnim {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes landingAnim {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
.addAnim {
  -webkit-animation: landingAnim 0.5s ease-out forwards;
          animation: landingAnim 0.5s ease-out forwards;
}

.active {
  color: #64ffda !important;
  background-color: rgba(17, 34, 64, 0.4666666667) !important;
}